/* patička */

footer {
  background-color: var(--ms-basic);
  text-align: center;
}

.foo-content {
  max-width: 1100px;
  margin: auto;
  padding: 0 10px;
}

footer p {
  color: var(--ms-gray);
  font-size: 0.75rem;
  letter-spacing: 0.0625rem;
  line-height: 20px;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}
